*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
   --fundo: #f5f5f5;
   --primary:#0250D3;
   --white: #fff;
}

body{
   background-color: var(--fundo);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
   text-decoration: none;
}

.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px;
   padding: 0px 30px;
   background-color: var(--primary);
}

.header h3{
   display: flex;
   flex-direction: column;
   color: var(--white);
}

.header span{
   font-weight: 300;
   font-size: 12px;
   opacity: 0.8;
}

.header .btn-linkedin{
   color: var(--primary);
   background-color: var(--white);
   padding: 10px;
   border-radius: 10px;
   font-weight: 600;
}